# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Lecture Notes\2nd Year - 1st Sem\Information Assurance and Security\ImageEncryptionUsingAES\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
